@import "./variables.scss";

body {
  background-color: $white1;
  text-align: center;
  .navbar {
    background: $blue1;
    color: $white2;
    height: 50px;
  }
  h1 {
    font-size: 40px;
    margin-top: 30px;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.input-fields {
  border: 1px solid $blue1;
  padding: 10px;
  width: 50%;
}

.btn-calculate {
  background: $blue1;
  color:$white1;
  padding: 12px;
  font-weight: 900;
  width: 20%;
}
